@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
}

body div {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    background-color: #EC362D;
    width: 100%;
    left: 0;
    top: 0;
    height: 69px;
}

header > h1 {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}

.nenhum-quizz {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 215px auto 0 auto;
    width: 66%;
    height: 181px;
    border: dashed 1px #D4D4D4;
}
.nenhum-quizz > p {
    color: #B9B9B9; 
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
}

.nenhum-quizz button {
    margin-top: 3%;
    color: #EC362D;
    background-color: #FAFAFA;
    border: dashed 1px #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
}

.cabecalho-seus-quizzes {
    margin-top: 69px;
    display: flex;
    align-items: center;
}

.cabecalho-seus-quizzes p{
    font-size: 20px;
    font-weight: bold;
}

.cabecalho-seus-quizzes ion-icon{
    width: 31px;
    height: 30px;
    color: #EC362D;
}
/*Estilos para os quizzes*/
.listadequizzes{
    width: 66%;
    height: 409px;
    margin-top: 77px;
    margin-left: 194px;    
}
.disposicao-linha{
    display: flex;
    flex-wrap: wrap;
}

.titulo-quizzes{
    width: 1050px;
    height: 23px;
    margin-left: 15px;
    top: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.dimensoes-quizzes{    
    width: 31%;
    height: 44%;  
    margin-top: 12px;
    margin-left: 15px;
    border-radius: 5px; 
}
.plano-de-fundo{
    background-image: 
    linear-gradient(180deg,
    rgba(255,255,255,0) 0%,
    rgba(0,0,0,0.5) 65.1%,
    #000000 100%),
    url(https://super.abril.com.br/wp-content/uploads/2020/09/04-09_gato_SITE.jpg);
    }
.nomedoquizz{
        margin-top: 120px;
        margin-left: 18px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
/*fim de estilos para quizzes*/
/*estilo para tela de um quizz*/
.titulo-de-cada-quizz{
    position: absolute;
    width: 100%;
    height: 227px;
    top: 69px; 
    
    
    background: linear-gradient(0deg,
    rgba(0,0,0,0.57),
    rgba(0,0,0,0.57)),
    url(https://super.abril.com.br/wp-content/uploads/2020/09/04-09_gato_SITE.jpg);
}
.titulo{
    position: absolute;
    top: 87px;
    width: 100%;
    height: 54px;
    left: 209px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.caixa-de-respostas{
    position: absolute;
    top: 338px;
    width: 759px;
    height: 676px;
    left: 340px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.perguntas{
    position: absolute;
    top: 27px;
    left: 36px;
    width: 688.16px;
    height: 137.99px;
    background: #434CA0;
}
.perguntas-texto{
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;}
    .respostas{
        width: 329px;
        height: 175px;
        position: absolute;
    }
    .resposta-imagem{
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
    }
    .resposta-texto{
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .margem-superiorum{
        top: 186.06px;
    }
    .margem-superiordois{
        top: 421.72px;
    }
    .margem-direita{
        margin-right: 24.29px;
    }    
    .margem-esquerda{
        margin-left: 36.43px;
    }
    .margem-esquerdadois{
        margin-left: 390.93px;
    }
/*fim para tela de um quizz*/
.criacao-informacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 140px;
}

.criacao-informacoes > h3 {
    font-size: 23px;
    font-weight: bold;
}

.perguntas-basicas {
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 256px;
}

.perguntas-basicas > input {
    margin-bottom: 9px;
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.perguntas-basicas > input:last-child{
    margin-bottom: 0;
}
.perguntas-basicas > input::placeholder{
    font-style: italic;
    font-size: 19px;
    margin-left: 23px;
    color: #BABABA;
}

.criacao-informacoes > button {
    margin: 85px auto 0 auto;
    font-size: 21px;
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius: 15px;
}

.escondido {
    display: none;
}