@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
}

body div {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    background-color: #EC362D;
    width: 100%;
    left: 0;
    top: 0;
    height: 69px;
}

header > h1 {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}

.nenhum-quizz {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 215px auto 0 auto;
    width: 66%;
    height: 181px;
    border: dashed 1px #D4D4D4;
}
.nenhum-quizz > p {
    color: #B9B9B9; 
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
}

.nenhum-quizz button {
    margin-top: 3%;
    color: #EC362D;
    background-color: #FAFAFA;
    border: dashed 1px #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
}

.cabecalho-seus-quizzes {
    margin-top: 69px;
    display: flex;
    align-items: center;
}

.cabecalho-seus-quizzes p{
    font-size: 20px;
    font-weight: bold;
}

.cabecalho-seus-quizzes ion-icon{
    width: 31px;
    height: 30px;
    color: #EC362D;
}

.criacao-informacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 140px;
}

.criacao-informacoes > h3 {
    font-size: 23px;
    font-weight: bold;
}

.perguntas-basicas {
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 256px;
}

.perguntas-basicas > input {
    margin-bottom: 9px;
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.perguntas-basicas > input:last-child{
    margin-bottom: 0;
}
.perguntas-basicas > input::placeholder{
    font-style: italic;
    font-size: 19px;
    margin-left: 23px;
    color: #BABABA;
}

.criacao-informacoes > button {
    margin: 85px auto 0 auto;
    font-size: 21px;
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius: 15px;
}

.escondido {
    display: none;
}
